@model IEnumerable<FinanceTrackerWebApp.Models.SavingModel>

@{
    ViewBag.Title = "Savings Goals";
}

<p>
    @Html.ActionLink("Create New", "CreateSaving")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SavingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Period)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlySaving)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SavingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterestRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Period)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlySaving)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new {  id=item.SavingID})
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Savings", "Index")
</div>
